.answer {
  max-width: 540px;
}

.title {
  color: white;
}
.answer__title {
  color: white;
}
.answer__subtitle {
  color: white;
}
.player {
}
.player__btn {
}
.player__line {
}
.player__time-start {
}
.player__time-end {
}
.answer__description {
  color: white;
}
